---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import { projects } from "../projects";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Some of my projects">
  <header class="my-6">
    <h1 class="font-normal text-[21px] leading-normal text-gray-600">
      Selected projects I have worked on:
    </h1>
  </header>
  <Grid>
    {
      projects.map((project) => {
        return (
          <ProjectCard
            project={{
              name: project.name,
              description: project.description,
              slug: project.slug,
              id: project.id,
              tech: project.tech,
            }}
          />
        );
      })
    }

    <!--<ToolCard tool={{-->
    <!--	id: 1,-->
    <!--	name: 'webchat',-->
    <!--	slug: 'webchat',-->
    <!--	description: 'Webchat project',-->
    <!--	url: ''-->
    <!--}} />-->

    <!--<ToolCard tool={{-->
    <!--	name: 'Astro',-->
    <!--	description: 'A new kind of static site generator that combines the best parts of modern build tools.',-->
    <!--	slug: 'vscode',-->
    <!--	id: 'webchat',-->
    <!--}} />-->
  </Grid>
</Layout>
