---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import { projects } from "../projects";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Some of my projects">
  <header class="my-6">
    <h1 class="text-xl font-light text-gray-600">
      Selected projects I have worked on:
    </h1>
  </header>
  <Grid>
    {
      projects.map((project) => {
        return (
          <ProjectCard
            project={{
              ...project,
            }}
          />
        );
      })
    }
  </Grid>
</Layout>
